Требования к программам 

-- Время одиноких волков в программировании ушло в прошлое
-- Разрабатывая что-то, Вы так или иначе будете пользоваться тем, что сделано другими людьми (как минимум, компилятором и компоновщиком)
-- Когнитивная сложность при разработке более чем одним человеком сильно возрастает! 
-- MVP -- нужно выйти на рынок как можно скорее -- наилучший результат за минимальный срок

Программы 

-- переписывание с нуля влечет за собой сильнейший оверхед по стабилизации

Цикл жизни программы (кратко):
-- Разработка
-- Отладка
-- Сопровождение
  -- Исправление ошибок
  -- Добавление новых возможностей
  
Обкатка программы под заказчика приводит к тому, что возникают новые требования -- Вы продаете и программу, и сопровождение. Масштаб денег при этом будет возрастать (сопоставимо со стоимостью продажи)
